In [6]:
import pandas as pd

#Load "Dataset.csv" into df
#Dataset uses ";" as a delimiter, and it's a huge file so low_memory = False to avoid chunk loading
df = pd.read_csv('Dataset.csv', sep = ";", low_memory = False)

In [7]:
#EDA:

#Display the first 5 rows
print("Original Dataset:")
print(df.head())

Original Dataset:
   BillNo                             Itemname  Quantity              Date  \
0  536365   WHITE HANGING HEART T-LIGHT HOLDER         6  01.12.2010 08:26
1  536365                  WHITE METAL LANTERN         6  01.12.2010 08:26
2  536365       CREAM CUPID HEARTS COAT HANGER         8  01.12.2010 08:26
3  536365  KNITTED UNION FLAG HOT WATER BOTTLE         6  01.12.2010 08:26
4  536365       RED WOOLLY HOTTIE WHITE HEART.         6  01.12.2010 08:26

  Price  CustomerID         Country
0  2,55     17850.0  United Kingdom
1  3,39     17850.0  United Kingdom
2  2,75     17850.0  United Kingdom
3  3,39     17850.0  United Kingdom
4  3,39     17850.0  United Kingdom
---------------------------------

In [8]:
#Show Column names
print("Column labels:")
df.info()

Column labels:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522064 entries, 0 to 522063
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      522064 non-null  object
 1   Itemname    520609 non-null  object
 2   Quantity    522064 non-null  int64
 3   Date        522064 non-null  object
 4   Price       522064 non-null  object
 5   CustomerID  388023 non-null  float64
 6   Country     522064 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 27.9+ MB
--------------

In [9]:
#Inspect if we have missing values or duplicate rows
print("#Missing Values: ", df.isnull().sum())
print("#Duplicate rows: ", df.duplicated().sum())

#Missing Values:  BillNo             0
Itemname        1455
Quantity           0
Date               0
Price              0
CustomerID    134041
Country            0
dtype: int64
#Duplicate rows:  5286
-----------------

In [10]:
#Data Cleaning:

#Remove duplicate rows and the ones with missing values and make the index linearly consistent with the number of rows
df_cleaned = df.dropna(axis = 0, how = 'any')
df_cleaned = df_cleaned.drop_duplicates()
df_cleaned.reset_index(drop = True, inplace = True)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382811 entries, 0 to 382810
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      382811 non-null  object
 1   Itemname    382811 non-null  object
 2   Quantity    382811 non-null  int64
 3   Date        382811 non-null  object
 4   Price       382811 non-null  object
 5   CustomerID  382811 non-null  float64
 6   Country     382811 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 20.4+ MB
---------------------